/* #009FB7 pacific blue
#3D348B cosmic cobalt
#FB4D46 tart orange
#FFB20F honey yellow
#AAABBC cadet blue crayola */

.about-form-container h1 {
  font-size: 2vw;
}

.about-form-container input {
  font-size: 1vw;
}
.about-form-container {
  border-radius: 1.8vw;
  background-color: #0070c0;
  display: flex;
  justify-content: left;
  align-items: flex-start;
  margin: 0 3vw 0 1vw;
  padding: 0.7vw 0;
  width: 35vw;
}

.about-form-container form {
  display: flex;
  flex-direction: column;
  width: 50vw;
  justify-content: flex-start;
  align-items: flex-start;
  margin: 0 0 0 2vw;
}

.about-form-title {
  color: white;
}

.about-form-inputContent {
  width: 30vw; /* Full width */
  padding: 0.5vw; /* Some padding */
  border: 1px solid #ccc; /* Gray border */
  border-radius: 4px; /* Rounded borders */
  box-sizing: border-box; /* Make sure that padding and width stays in place */
  margin: 0.5vw 0;
  font-size: 1.2vh;
}

.about-form-button {
  margin-top: 1vw;
  width: 30vw;
  height: 3vw;
  border-radius: 12px;
  color: white;
  background: #009fb7;
  font-size: 2vw;
  align-items: center;
  justify-content: center;
}

.about-form-button:hover {
  font-size: 2.2vw;
  background: #0290a6;
}

.about-form-popup-in {
  position: absolute;
  z-index: 1;
  visibility: visible;
  opacity: 1;
  transition: opacity 1s linear;
  left: 35vw;
  bottom: 65vh;
  color: white;
  background: #fcaf09;
  padding: 1.3vw;
  border-radius: 18px;
}

.about-form-popup-out {
  position: absolute;
  z-index: 1;
  visibility: hidden;
  opacity: 0;
  transition: visibility 0s 2s, opacity 2s linear;
  left: 35vw;
  bottom: 65vh;
  color: white;
  background: #fcaf09;
  padding: 1.3vw;
  border-radius: 18px;
}
