#d3-rd-container {
  width: 500px;
  height: 650px;
  margin: auto;
  margin-top: 5vw;
  margin-bottom: 5vw;
  right: 0;
  left: 0;
  text-align: center;
  color: dimgray;
  font-weight: 600;
}
#d3-rd-container h2 {
  font-size: 24px;
}
#d3-rd-header {
  height: 100px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

#d3-rd-container hr {
  border: none;
  outline: none;
  height: 1.5px;
  background-color: dimgray;
  margin: 0;
}

#d3-rd-chart {
  height: 500px;
}

#d3-rd-output {
  height: 50px;
  margin: 0;
  padding: 0;
  display: flex;
  align-items: center;
  justify-content: center;
}

#d3-rd-output h2 {
  margin: auto;
}

#d3-rd-chart svg {
  width: 100%;
  height: 100%;
}
