.image-grid-container p {
  margin: 1.5vw;
  font-size: 1vw;
  width: 90vw;
}

.image-button-container {
  width: 650px;
  display: flex;
  justify-content: space-between;
  margin: 1.5vw;
  margin-bottom: 2vw;
}

.image-button-container button {
  cursor: pointer;
  font-size: 1vw;
  padding: 0.6vw;
  background: lightblue;
}

.image-button-container button:hover {
  background: rgb(201, 230, 173);
}
