.nav-livability {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  background: #3d348b;
  color: white;
  height: 3.5vh;
  font-size: 2vh;
}

.svg {
  font-weight: 100;
  color: #d3d3d3;
}

.container {
  margin: 4px 6px;
}

.box {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  margin: 2vh 2vw;
  padding: 1px;
}
.fit_title {
  text-align: center;
  margin-bottom: 2vh;
}
.fit_container {
  margin: 2vh 2vw;
}
.graph-container {
  margin: 1.5vh 0;
  border-radius: 0.8vw;
  border: 1px solid #d3d3d3;
  padding: 0.4vw;
}

.glossary-title-container {
  display: flex;
  align-items: center;
  margin-bottom: 1vh;
}

.one-graph {
  margin: 5px;
}

.city_title {
  text-align: center;
  /* padding-top: 1vh; */
  margin-top: 2.5vh;
  margin-bottom: -1.5vh;
}

.graph-title {
  font-size: 1.8vh;
  display: flex;
}

.image {
  height: 2vh;
  width: 1.6vw;
}

.glossary-container {
  margin-left: 1.5vw;
}

.row {
  /* display: flex; */
}

.livability-glossary-table td {
  border: none;
  width: 26vh;
}

.glossary-cell {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  height: 1.4vw;
  margin: 0.1vw 0;
}
.glossary-cell img {
  margin-right: 2vh;
}

.glossary-cell p {
  font-size: 1.6vh;
}

.data-desclaimer {
  font-size: 1.4vh;
}
