#d3-vh-container {
  max-width: 70%;
  margin: auto;
  height: 700px;
  /* display: inline-block;
  position: fixed; */
  margin-top: 5vw;
  margin-bottom: 5vw;
  top: 15%;
  right: 0;
  bottom: 0;
  left: 0;
}

#d3-vh-container h1 {
  color: dimgray;
}

#d3-vh-header {
  border-bottom: 1px solid lightgray;
  border-top: 1px solid lightgray;
  height: 100px;
  width: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

#d3-vh-header label {
  color: gray;
  font-size: 24px;
  font-weight: 500;
}

#d3-vh-header input,
#d3-vh-header button {
  height: 80px;
  width: 150px;
  border: 1px solid rgb(204, 204, 204);
  border-radius: 5px;
  color: gray;
  font-size: 24px;
  font-weight: 500;
  outline: none;
  background-color: rgb(253, 253, 253);
}

#d3-vh-header input {
  padding-left: 10px;
}

#d3-vh-header button {
  height: 84px;
  cursor: pointer;
  text-decoration: underline;
}

#d3-vh-charts svg {
  height: 600px;
  width: 100%;
}
