.info-container {
  padding: 2vh;
  height: 20vh;
}

h1 {
  font-size: 4vh;
}

.quiz-start {
  padding-top: 1vh;
  display: flex;
  flex-direction: column;
}

.quiz-start button {
  margin: 1vh;
  width: 12vh;
  height: 5vh;
  border-radius: 6px;
  background-color: #aaabbc;
  color: #fff;
  cursor: pointer;
  border: 1px solid rgba(27, 31, 35, 0.15);
  box-shadow: rgba(27, 31, 35, 0.1) 0 1px 0;
  font-size: 4vh;
  text-align: center;
  z-index: 1;
}

.quiz-start button:hover {
  background-color: #9394a5;
}

.question-text {
  display: flex;
  justify-content: center;
  margin: 1vh;
  font-size: 3vh;
}

.quiz-extra-text {
  font-size: 2.2vh;
}

.label-one {
  margin-right: 2vh;
}

.answer-section {
  display: flex;
  justify-content: space-evenly;
}

.answer-section button {
  background-color: #fb4d46;
  color: #fff;
  font-size: 2vh;
  cursor: pointer;
  border-radius: 6px;
  border: 1px solid rgba(27, 31, 35, 0.15);
  box-shadow: rgba(27, 31, 35, 0.1) 0 1px 0;
  text-align: center;
  padding: 0.4vw 0.8vh;
  z-index: 1;
}

.answer-section button:hover {
  background-color: #c73833;
  cursor: pointer;
}

.end-quiz {
  display: flex;
  flex-direction: column;
}
.end-quiz p {
  margin: 0.3vh;
}

.button {
  display: flex;
  justify-content: space-evenly;
  margin-top: 0.5vh;
  z-index: 1;
}

.button button {
  background-color: #3d348b;
  color: #fff;
  cursor: pointer;
  border: 1px solid rgba(27, 31, 35, 0.15);
  box-shadow: rgba(27, 31, 35, 0.1) 0 1px 0;
  font-size: 2.6vh;
  text-align: center;
  border-radius: 6px;
  padding: 0 0.3vh;
  z-index: 1;
}
.button button:hover {
  background-color: #51499c;
}

input {
  font-size: 1.7vh;
}

input:focus {
  font-size: 2vh;
}
