.header {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  background: #009fb7;
  height: 10vh;
  font-size: 1.8vw;
  color: #fff;
}

.header-link-container {
  display: flex;
  justify-content: space-evenly;
  align-items: flex-end;
  background-color: #59c7d8;
  width: 70%;
}

.header-link {
  text-decoration: none;
  color: #000000;
  padding: 0.2vw;
  width: 100%;
  text-align: center;
}

.header-link:hover {
  background-color: #034078;
  color: white;
}
