.projects-container h1 {
  font-size: 2vw;
}
.projects-container h2 {
  font-size: 1.5vw;
}
.projects-container p {
  font-size: 1vw;
}

.apartments-container {
  margin: 1vw;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}

.apartments-img {
  height: 33vw;
}

.apartments-github-link {
  font-size: 1.1vw;
}
