.project-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.card {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-content: center;
  height: 40vh;
  width: 32vh;
  margin: 3vh;
  box-shadow: 5px 5px 20px rgb(192, 190, 190);
  transition: 400ms ease-in-out;
  padding: 1vh;
}

.card:hover {
  box-shadow: 10px 10px 20px rgb(156, 154, 154);
}

.project-image {
  text-align: center;
  margin: 2vh;
  height: 14vh;
  border-radius: 125px;
}

h3 {
  text-align: center;
  font-size: 1.6vh;
}

.card-description {
  /* height: 5vh; */
  font-size: 1.6vh;
}

.link {
  text-align: center;
  color: #316879;
  transition: 400ms ease-in-out;
  font-size: 1.4vh;
}

.hr {
  border: 1px solid #d3d3d3;
}
.link:hover {
  color: #174d5e;
  font-weight: bold;
  transition: 400ms ease-in-out;
}
