.projects-container h1 {
  font-size: 2vw;
}
.projects-container h2 {
  font-size: 1.5vw;
}
.projects-container p {
  font-size: 1vw;
}

.ds-container {
  margin: 1vw;
}

.ds-iframe {
  display: flex;
  justify-content: center;
  margin-top: 2vw;
}

.ds-iframe iframe {
  width: 80vh;
  height: 55vw;
}
