.projects-container h1 {
  font-size: 2vw;
}
.projects-container h2 {
  font-size: 1.5vw;
}
.projects-container p {
  font-size: 1vw;
  margin: 1vh 0;
}
.transport-container {
  display: flex;
  flex-direction: column;
  padding: 1vh;
  white-space: pre-line;
}

.transport-img {
  height: 50vw;
}

.transport-img-table {
  height: 30vw;
}

.transport-link-github {
  font-size: 1.1vw;
}
