#d3-uni-container {
  width: 700px;
  height: 650px;
  margin: auto;
  top: 10%;
  bottom: 0;
  left: 0;
  right: 0;
  /* display: inline-block;
  position: fixed; */
  margin-bottom: 5vw;
  margin-top: 5vw;
  border-radius: 5px;
  border: 1px solid gray;
}

#d3-uni-header {
  width: 95%;
  height: 140px;
  margin: auto;
  text-align: center;
}

#d3-uni-header h2 {
  letter-spacing: 0.5px;
  font-weight: 700;
  color: dimgray;
  margin-bottom: 0;
  margin-top: 10px;
}

#d3-uni-header p,
#d3-uni-legend p {
  color: gray;
  font-weight: 500;
}

#d3-uni-container hr {
  border: none;
  background-color: gray;
  height: 1px;
  margin: 0;
}

#d3-uni-legend {
  display: flex;
  justify-content: space-around;
}

#d3-uni-legend p {
  padding: 10px 0;
  margin: 0;
  text-align: center;
  font-weight: 700;
  font-size: 22px;
}

#d3-uni-legend #d3-uni-legend-female {
  color: #f48fb1;
}

#d3-uni-legend #d3-uni-legend-male {
  color: #90caf9;
}

#d3-uni-chart {
  width: 95%;
  height: 500px;
  margin: auto;
}

#d3-uni-chart svg {
  height: 100%;
  width: 100%;
}
